[Unit]
Description=mcrouter service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/mcrouter -p {{ mcrouter_port }} --config-file=/etc/mcrouter.conf

[Install]
WantedBy=multi-user.target