{
  "pools": {
    "A": {
      "servers": [ 
       {% for item in mcrouter_address_pool %}
         "{{ item }}"{% if not loop.last %} , {% endif %}  
       {% endfor %}
       ]
    }
  },
  "route": {
    "type": "OperationSelectorRoute",
    "operation_policies": {
      "add": "AllFastestRoute|Pool|A",
      "delete": "AllFastestRoute|Pool|A",
      "get": "MissFailoverRoute|Pool|A",
      "set": "AllFastestRoute|Pool|A"
    }
  }
}