kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: '{{ meta.name }}-memcached'
  namespace: '{{ meta.namespace }}'
spec:
  replicas: {{ memcached_pool_size|int }}
  serviceName: '{{ meta.name }}-memcached'
  selector:
    matchLabels:
      app: '{{ meta.name }}-cache'
  template:
    metadata:
      labels:
        app: '{{ meta.name }}-cache'
    spec:
      containers:
      - name: memcached
        command: ["memcached", "-m", "256", "-I", "32m", "-v"]
        image: '{{ memcached_image }}'
        ports:
          - containerPort: {{ memcached_port }}
